.navbar-fixed {
    text-align: center;
    nav {
        background-color: #000;
        box-shadow: none !important;
        &.nav-center {
            .nav-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-wrapper-image {
                    .brand-logo {
                        position: relative;
                        margin-top: 30px;
                        img {
                            height: 52px;
                            width: 52px;
                        }
                    }
                }
                .nav-wrapper-links {
                    margin-left: 10px;
                    justify-content: space-between;
                    a {
                        display: inline-block;
                        line-height: 40px;
                        &.btn-link {
                            font-size: 1.2rem;
                            color: gray;
                            text-transform: uppercase;
                            background: transparent;
                            border-color: transparent;
                            box-shadow: none !important;
                            border-radius: 0px;
                            margin-left: 3px;
                            margin-right: 3px;
                            
                            &.active {
                                color: #fff;
                                border-bottom: 2px solid $link-color; 
                            }
                        }
                        &.btn-link:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}