.pager{
    position: sticky;
    top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none!important;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f8f9fa;
    min-height: 6em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    div{
        padding-left: 5px;
        padding-right: 5px;
    }


    .btn{
        border: .05rem solid $link-color;
        border-radius: 5rem;
        color: $link-color;
        background-color: #fff;
        box-shadow: none!important;
        font-size: 0.9rem;

        &:hover{
            background-color: $link-color;
            color: #fff!important; 
        }

        &[disabled], &:disabled, &.disabled {
            cursor: default;
            opacity: .5;
            pointer-events: none;
            background-color: #fff;
        }

        @media only screen and (max-width: 892px) {
        
            padding: 0px 12px!important;
            font-size: 12px!important;
        }
    }

    .pages{
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 2em;
        color: #000;
    }
    
}

